.company-search-form-container {
    margin: auto;
    max-width: 750px;
    padding: 10px;
}

.company-search-form {
    display: flex;
}

.company-search-form .keyword-input {
    width: calc((100% - 65px) / 2);
}

.company-search-form .keyword-input input {
    border-radius: 50px 0 0 50px !important;
}

.company-search-form .keyword-input input,
.company-search-form .location-input input{
    width: 100%;
    height: 60px;
    padding: 25px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    font-weight: bold;
}

.company-search-form .location-input {
    border-left: solid 1px #eee;
    width: calc((100% - 65px) / 2);
}

.company-search-form #search-button {
    width: 20%;
    background-color: var(--primary_color);
    width: 65px;
    display: table;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}

.company-search-form #search-button > div {
    display: table-cell;
    vertical-align: middle;
}

.company-search-form #search-button > div p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.company-search-form #search-button > div p i{
    margin-right: 5px;
}

.company-search-form #search-loading-animation .fa-2x {
    width: fit-content;
}

.company-search-form #search-loading-animation {
    display: none;
    width: fit-content;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
    width: 100%;
}



#search-container {
    position: relative;
}

#search-results-container ::-webkit-scrollbar {
    width: 10px;
}

#search-results-container ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#search-results-container ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
#search-results-container ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.company-search-form-container #search-input{
    width: calc(100% - 65px);
    height: 60px;
    padding: 25px;
    border: none;
    border-radius: 50px 0 0 50px;
    font-size: 18px;
    font-weight: bold;
}

.company-search-form-container #search-button {
    background-color: var(--primary_color);
    width: 65px;
    display: table;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}

.company-search-form-container #search-button:hover {
    background-color: var(--secondary_color);
}

.company-search-form-container #search-button > div {
    display: table-cell;
    vertical-align: middle;
}

.company-search-form-container #search-button > div p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.company-search-form-container #search-results-container{
    width: 100%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),0 6px 8px 0 rgb(0 0 0 / 19%)!important;
    transition: 0.3s;
    background-color: #fff;
    position: absolute;
    max-width: 900px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 65px;
}

#search-results-container > div{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
}

#search-results-container div.company-item:hover {
    transform: unset;
    box-shadow: unset;
}

.company-search-form-container #search-results-container > div + div {
    padding: 8px;
}

.company-search-form-container #search-results-container.hidden{
    height: 0;
}

.company-search-form-container #search-results-container .search-result-type-container {
    margin: 5px 0;
}

.company-search-form-container #search-results-container .search-result-title {
    font-weight: bold;
}

.company-search-form-container #search-results-container .search-result-type {
    background-color: #09c;
    color: #fff;
    border-radius: 50px;
    padding: 5px 15px;
    margin: 5px 0;
}

.company-search-form-container #search-results-container a.result-link{
    text-decoration: none;
    color: inherit;
}

.company-search-form-container #search-results-container ul{
    padding: 0;
}

.company-search-form-container #search-results-container ul{
    list-style-type: none;
}

.company-search-form-container #search-results-container ul li{
    transition: 0.3s;
    padding: 16px;
}

.company-search-form-container #search-results-container ul li img{
    max-height: 150px;
    object-fit: contain;
}

.company-search-form-container #search-results-container ul li:hover{
    background-color: #eeeeee;
}

.company-search-form-container #search-results-container .no-search-results .emoji{
    font-size: 38px;
}

.company-search-form-container #search-results-container .no-search-results{
    padding: 16px;
}

.company-search-form-container #search-results-container .no-search-results p{
    padding: 5px;
    margin-bottom: 0;
    text-align: center;
}