#guide_filter .filter-title-container {
    text-align: center;
    font-size: 18px;
}

.filter-info-container {
    text-align: center;
    margin: 15px;
}

.guide-skip-button, .guide-show-results-button {
    right: 0;
}

.filter-option-item p {
    margin: 0;
}

#filter-step-title {
    font-size: 20px;
}

#filter-step-description {
    font-size: 18px;
}

.filter-option-item {
    min-width: 200px;
    max-width: 100%;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px;
    font-size: 18px;
    transition: all .2s ease-in-out;
    border-radius: 12px;
    background-color: #fff;
    border: solid 3px #f8f9fa;
}

.filter-option-item.selected{
    border: solid 3px #0099cc;
}

.filter-result-count-container {
    text-align: center;
    margin: 0 5px;
}

.filter-option-item:hover {
    background-color: #0099cc;
    color: #fff;
    cursor: pointer;
}

.filter-options-form {
    text-align: center;
    margin: 25px 0;
}

.filter-buttons-container {
    text-align: center;
    margin: 15px;
}

.filter-buttons-container button {
    margin: 0 25px;
}

.filter-item-image-container i {
    font-size: 42px;
    margin-bottom: 15px;
}

.filter-checkbox-icon{
    margin-top: 10px;
}

.filter-loading-container{
    text-align: center;
}

.filter-loading-container i{
    font-size: 48px;
    color: #0099cc;
}

#filter-finished-progress-bar-container{
    margin: auto;
    width: 500px;
    max-width: 90%;
}

#filter-progress-info{
    font-size: 16px;
    transition: all .5s ease-in-out;
}

#filter-finished-progress-bar,
#filter-step-progress-bar{
    background-color: #f8f9fa;
    padding: 3px;
    margin: 3px;
    border-radius: 25px;
}

#filter-finished-progress,
#filter-step-progress{
    height: 5px;
    background-color: #0099cc;
    transition: all .5s ease-in-out;
    border-radius: 25px;
}

.filter-container{
    border: solid 3px #f8f9fa;
    border-radius: 0;
}

.filter-container .filter-loading-container{
    display: none;
    margin: 100px 50px;
}

.filter-container.finished .filter-loading-container{
    display: block;
}

.filter-container.finished .filter-loading-container.hidden{
    display: none;
}

#top-result-headline,
#more-results-headline {
    text-align: center;
}

#more-results-container{
    margin: 50px 50px 0 50px;
}

#more-results-container div.product-item:hover {
    box-shadow: none !important;
    background-color: transparent;
}

#more-results-container div.product-item-container:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 6px 8px 0 rgb(0 0 0 / 19%) !important;
}

#no-guide-results-container{
    margin: 25px;
    text-align: center;
}

#no-guide-results-container div i{
    font-size: 50px;
}
#no-guide-results-container div p{
    margin: 25px;
}

.filter-container.finished #filter-step-progress-bar,
.filter-container.finished .filter-info-container,
.filter-container.finished .filter-buttons-container,
.filter-container.finished .filter-options-container{
    display: none;
}