.sponsored-badge {
    font-size: 12px;
    vertical-align: top;
    padding: 2px 4px;
    border-radius: 20px;
}

.product-item.layout-grid .sponsored-badge {
    position: absolute;
    top: 15px;
    font-size: 10px;
    padding: 4px 6px;
    transform: translate(-50%,-50%);
}

.product-item.layout-list .sponsored-badge {
    position: absolute;
    top: 4px;
    left: 70px;
    font-size: 10px;
    padding: 4px 6px;
}

.post-item.layout-grid .sponsored-badge {
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 10px;
    padding: 4px 6px;
}