
main {
    padding: 40px 36px;
}

ol, ul {
    padding-left: unset !important;
}

main > div#firsttime-prompt {
    display: none;
}

div.prompt.guide-prompt > div {
    max-width: 825px;
}

div.prompt.guide-prompt > div > button {
    text-transform: uppercase;
    font-family: DM Sans Thick;
}

main > div.headline > h1 > select {
    appearance: none;
    background-image: url(img/icons/chevron-down-solid.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 20px;
    padding-right: 45px;
}

div.prompt.guide-prompt > div > button:last-of-type {
    background-color: var(--primary_button_color);
    border-bottom: solid 2px var(--primary_button_border_color);
}

@media only screen and (max-width: 640px) {
    div.prompt.guide-prompt img {
        max-height: 300px;
    }
}

/* E-Mail erneut senden Button */
main > div.headline + span.msg > a.button {
    float: right;
    margin-left: 20px;
}

main > div.headline {
    display: flex;
    margin-bottom: 40px;
}

main div.company-title-container {
    width: calc(100% - 200px);
}

main div.company-title-container a.button {
    margin: 3px 8px;
}

main div.company-title-container,
main div.inserieren-button-container {
    width: calc(100% - 200px);
    margin-left: unset;
    border: unset;
    border-left: unset;
    border-radius: unset;
    height: unset;
    padding: unset;
}

main div.inserieren-button-container a p {
    color: #fff;
}

main > div.headline > h1 {
    margin-bottom: 0;
    white-space: nowrap;
}

main div.inserieren-button-container {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    width: 230px;
    margin-top: -20px;
    margin-bottom: 20px;
}

main > div.headline1 > a > i {
    margin-right: 10px;
}

main > div.headline h1 > select {
    width: auto;
    border: none;
    box-shadow: none;
    font-size: 32px;
    height: auto;
    text-transform: uppercase;
}

main > div.headlineh1 > select > option {
    font-size: 13pt;
    /* text-transform: none; */
}

@media only screen and (max-width: 640px) {
    main > div.headline > h1 {
        width: 100%;
    }

    main > div.headline > a {
        display: none;
    }
}

main span.msg {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

main > div > ul {
    width: 250px;
    float: left;
    border-radius: 6px 0 0 6px;
    background-color: var(--light_grey2);
    height: 100%;
}

main > div > ul > li {
    font-family: DM Sans Thick;
    font-size: 13pt;
    white-space: nowrap;
    border-top: solid 1px #ddd;
    position: relative;
    overflow: hidden;
}

main > div > ul > li > a {
    text-decoration: none;
    color: inherit;
    padding: 12px;
    padding-top: 13px;
    padding-bottom: 14px;
    display: block;
}

main > div > ul > li > a:hover {
    text-decoration: none;
}

main > div > ul > li > a > span.label {
    white-space: normal;
    display: inline-block;
    max-width: 80%;
    vertical-align: middle;
    line-height: 12pt;
}

main > div > ul > li > a > span.label > span {
    font-family: "DM Sans", arial;
    font-size: 10pt;
    background-color: #b50000;
    color: #fff;
    padding: 0 3px;
    line-height: 18px;
    border-radius: 30%;
    min-width: 18px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-left: 6px;
}

main > div > ul > li > a > span.new {
    background-color: #ffb71e;
    color: #fff;
    position: absolute;
    top: 6px;
    right: -18px;
    transform: rotate(45deg);
    width: 70px;
    text-align: center;
    font-size: 10pt;
    line-height: 16pt;
}

main > div > ul > li:first-child {
    border-top-color: #f2f2f2;
}

main > div > ul > li:last-child {
    border-bottom-color: var(--light_grey2);
}

main > div > ul > li.selected,
main > div > ul > li:hover {
    background-color: #fff;
    border: solid 2px #f2f2f2;
    border-right: none;
    border-radius: 6px 0 0 6px;
    position: relative;
    left: -8px;
    width: 258px;
    cursor: pointer;
}

main > div > ul > li:not(.selected):hover > a > span.new {
    top: 5px;
}

main > div > ul > li.selected + li {
    border-top-color: #f2f2f2;
}

main > div > ul > li.selected > a,
main > div > ul > li:hover > a {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
}

main > div > ul > li > a > i {
    font-size: 16pt;
    vertical-align: middle;
    margin-right: 8px;
    width: 30px;
    text-align: center;
    font-weight: normal;
}

#dashboard-header-menu ul li {
    background-color: #fff;
    border-radius: var(--card-custom-border-radius);
    margin: 5px;
}

#dashboard-header-menu ul li.active,
#dashboard-header-menu ul li.active:hover{
    background-color: var(--primary_color);
}

#dashboard-header-menu ul li.active a {
    color: #fff !important;
}

#dashboard-header-menu ul li i {
    padding-left: 0;
}

#dashboard-header-menu ul li:hover {
    background-color: #eee;
}


#dashboard-header-menu ul li a{
    color: var(--primary_color) !important;
    padding-left: 16px;
    padding: 8px 16px;
}

#dashboard-header-menu ul li i {
    margin-right: 5px;
}

main > div > div.selected {
    display: block;
}

main > div > div h3 {
    text-align: left;
    white-space: nowrap;
    margin-left: 10px;
}

main > div > div h3 span {
    text-transform: inherit;
}

main > div > div h3 span + span {
    display: none;
}

main > div > div h3 > i {
    font-size: 18pt;
    vertical-align: top;
    line-height: 22pt !important;
}

main > div > hr {
    clear: both;
}

main #dashboard-content hr {
    clear: right;
}

main div > p,
main form > p {
    font-size: 13pt;
}

main > div > div > a.btn-color-1.button:last-child,
main form > input[type="submit"] {
    margin-top: 18px;
    width: 100%;
}

main div > a.btn-color-1.button:last-child > i {
    margin-right: 10px;
}

main ul.job-list > li span > a {
    margin-left: 12px;
    display: inline-block; /* damit Tooltips nicht clippen */
}

main ul.job-list > li span > a > i {
    color: inherit;
    font-size: 16pt;
}

main ul.job-list > li span > a > i:hover {
    color: var(--primary_color);
}

main ul.job-list > li span > i {
    margin-left: 12px;
    font-size: 14pt;
    color: #434343;
}

main ul.job-list > li span > i.fa-times-circle:hover {
    cursor: pointer;
    color: #b50000;
}

main ul.job-list > li span > i.fa-plus-circle:hover {
    cursor: pointer;
    color: var(--primary_color);
}

main ul.job-list > li span > i.fa-pen:hover {
    cursor: pointer;
    color: var(--secondary_color);
}

/* Show more button */

main ul > a {
    font-family: DM Sans Thick;
    background-color: var(--light_grey2);
    float: right;
    padding: 2px 16px;
    margin: 8px 10px 0 8px;
    font-size: 9pt;
    color: #434343;
    border-radius: 3px;
}

main ul > a:hover {
    background-color: #c1c1c1;
    cursor: pointer;
    text-decoration: none;
}

main ul > a > i {
    font-size: 12pt;
    margin-left: 6px;
    vertical-align: -2px;
}

main ul > a ~ li {
    display: none !important;
}

#dashboard-content {
    margin: auto;
    max-width: 1350px;
}

#dashboard-content p.empty {
    background-color: var(--light_grey2);
    padding: 16px;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
}

header > nav.dashboard {
    display: none;
}

/* Links in paragraphs with prefixed icons, global for prompts */

a.icon:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    margin-right: 4px;
}

/* Big btn-color-1 buttons with icons */

main div.quick-actions {
    width: 100%;
    font-size: 0;
}

main div.quick-actions > a {
    width: 100%;
    line-height: 18pt;
    text-transform: uppercase;
    font-family: DM Sans Thick;
}

main div.quick-actions.two-sidebyside > a {
    width: calc(50% - 15px);
    margin-right: 30px;
}

main div.quick-actions.three-sidebyside > a {
    width: calc(33% - 20px);
    margin-right: 30px;
}

main div.quick-actions > a:last-child {
    margin-right: 0;
}

main div.quick-actions > a > i {
    display: block;
    font-size: 18pt;
    line-height: 28pt;
}

/* Cropper for image upload */

.cropper-container {
    margin-bottom: 20px;
}

/* Tablet */

@media only screen and (max-width: 1200px) {
    main > div > ul {
        width: auto;
        height: auto;
        float: none;
        font-size: 0;
        border-radius: 6px;
        margin-bottom: 18px;
    }

    main > div > ul > li {
        display: inline-block;
        border-top: none;
        overflow: inherit;
    }

    main > div > ul > li.selected,
    main > div > ul > li:hover {
        position: static;
        border-radius: 6px 6px 0 0;
        width: auto;
        border-bottom: none;
    }

    main > div > ul > li > a {
        padding-bottom: 12px;
    }

    main > div > ul > li > a > span.label {
        white-space: nowrap;
    }

    main > div > ul > li > a > span.new {
        display: none;
    }

    main > div > ul > li > a > i.fas,
    main > div > ul > li > a > img{
        display: none;
    }

    main > div > ul > li.selected > a,
    main > div > ul > li:hover > a {
        padding-left: 10px;
    }

    main > div > div {
        margin-left: 0;
        padding: 0;
        border: none;
    }
}

/* Phone */

@media only screen and (max-width: 640px) {
    main {
        padding: 40px 20px;
    }

    main > h1 {
        letter-spacing: -1.25px;
    }

    main > div > div h3 span {
        display: none;
    }

    main > div > div h3 span + span {
        display: inline-block;
    }

    main > div > ul {
        display: none;
    }

    main > div.headline {
        display: none;
    }

    main h3 {
        display: block;
    }

    main div.quick-actions.three-sidebyside > a {
        width: 100%;
        margin-bottom: 12px;
    }
}

/* add company form */

main h1 > i.fas {
    cursor: pointer;
    vertical-align: middle;
}

#add-company-form,
#request-add-company-ability-form {
    display: none;
}

div.add-company-popup > div {
    max-width: 640px;
}

div.add-company-popup fieldset {
    background-color: var(--light_grey2);
    padding: 20px;
    margin: 20px 0;
    border-radius: 6px;
    font-size: 0;
}

div.add-company-popup fieldset > legend {
    font-family: "DM Sans Thick";
    margin-bottom: -10px;
    font-size: 13pt;
}

div.add-company-popup fieldset p:not(:last-child) input,
div.add-company-popup fieldset select,
div.add-company-popup input[type="submit"] {
    margin-bottom: 10px;
}

div.add-company-popup input,
div.add-company-popup select {
    width: 100%;
}

div.add-company-popup p.sidebyside {
    display: inline-block;
}

div.add-company-popup p.sidebyside > input,
div.add-company-popup p.sidebyside > select {
    width: 100%;
}

div.add-company-popup p.sidebyside.s20 {
    width: 20%;
}

div.add-company-popup p.sidebyside.s40 {
    width: 40%;
}

div.add-company-popup p.sidebyside.s60 {
    width: 60%;
}

div.add-company-popup p.sidebyside.s80 {
    width: 80%;
}

div.add-company-popup p.sidebyside + p.sidebyside > input {
    border-left: none;
}
