
main > form > p > input[type="text"],
main > form > p > input[type="password"] {
    width: 30%;
}

@media only screen and (max-width: 690px) {
    main > form > p > input[type="text"],
    main > form > p > input[type="submit"],
    main > form > p > input[type="password"] {
        width: 100%;
        margin-bottom: 8px;
    }
}
