
main {
    font-size: 0;
}

main > p {
    font-size: 13pt;
    margin-bottom: 40px;
}

main form {
    width: 48%;
    position: relative;
    display: inline-block;
}

main form.register {
    padding-right: 2.5%;
}

main form.login {
    vertical-align: top;
    padding-left: 12.5%;
}

main form > p {
    width: 100%;
    margin-bottom: 10px;
}

.visible-password,
main form > p > input[type="text"],
main form > div > p > input[type="password"],
main form > p > input[type="password"],
main form > p > input[type="submit"] {
    width: 100%;
}

#password-container{
    margin-bottom: 25px;
}

/* AGB */
main form > p > input[type="checkbox"] + label,
main form > p > input[type="checkbox"] + label + a {
    font-size: 13pt;
    display: inline-block;
    margin-top: 0;
    margin-right: 4px;
    vertical-align: middle;
}

main form.register > p.sidebyside {
    display: inline-block;
}

main form.register > p.sidebyside > input,
main form.register > p.sidebyside > select {
    width: 100%;
}

main form.register > p.sidebyside.s20 {
    width: 20%;
}

main form.register > p.sidebyside.s40 {
    width: 40%;
}

main form.register > p.sidebyside.s60 {
    width: 60%;
}

main form.register > p.sidebyside.s80 {
    width: 80%;
}

main form.register > p.sidebyside + p.sidebyside > input {
    border-left: none;
}

main form.register > p.login {
    margin-top: 20px;
    font-size: 13pt;
}

main input[type="submit"] {
    margin-top: 10px;
}

main form > a {
    font-size: 13pt;
    margin-top: 12px;
    display: block;
}

main div.usps li:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f058";
    color: var(--primary_color);
    width: 0;
    display: inline-block;
    position: relative;
    left: -38px;
    font-size: 21pt;
    vertical-align: middle;
}

@media only screen and (min-width: 691px) {
    main ul.breadcrumbs {
        margin-bottom: 120px !important;
    }
}

@media only screen and (max-width: 690px) {
    main > form.register,
    main > form.login,
    main div.usps {
        width: 100%;
        padding: 0 2%;
    }

    main div.usps {
        padding: 4%;
        margin: 0;
    }

    main > form.register {
        margin-bottom: 30px;
    }
}
