@keyframes invalid-pulse {
    0% {
        box-shadow: 0 0 2px 1px #ccc;
        background-color: #fff;
    }
    50% {
        box-shadow: 0 0 2px 1px #ff5e00;
        background-color: #ffe8db;
    }
    100% {
        box-shadow: 0 0 2px 1px #ccc;
        background-color: #fff;
    }
}

@keyframes valid-pulse {
    0% {
        box-shadow: 0 0 2px 1px #ccc;
        background-color: #fff;
    }
    50% {
        box-shadow: 0 0 2px 1px var(--primary_color);
        background-color: #c6f7b0;
    }
    100% {
        box-shadow: 0 0 2px 1px #ccc;
        background-color: #fff;
    }
}

@keyframes vertical-wobble {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(3px);
    }
    75% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes horizontal-wobble {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(3px);
    }
    75% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes wiggle {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    2% {
        transform: translate(-1px, -1px) rotate(-0.3deg);
    }
    4% {
        transform: translate(-1px, 0px) rotate(0.3deg);
    }
    6% {
        transform: translate(0px, 1px) rotate(0deg);
    }
    8% {
        transform: translate(1px, -1px) rotate(0.3deg);
    }
    10% {
        transform: translate(-1px, 1px) rotate(-0.3deg);
    }
    10%, 100% {
        transform: rotateY(0deg);
    }
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes coinspin {
    0% {
        transform: rotateY(0deg);
        top: 0;
    }
    10% {
        top: -20px;
    }
    20% {
        top: 0;
    }
    30% {
        top: -15px;
    }
    40% {
        top: 0;
    }
    50% {
        top: -10px;
    }
    60% {
        top: 0;
    }
    100% {
        transform: rotateY(360deg);
        top: 0;
    }
}