.select.multiple .select2-selection__choice {
    background-color: var(--primary_color);
    border-color: var(--primary_color);
    color: #fff;
    border-radius: 1rem;
}

.select.multiple .select2-selection__choice button span{
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    border-right: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #0077aa;
    color: #fff;
}