.prompt {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s;
    opacity: 0.0;
    z-index: 11;
}

.prompt.visible {
    opacity: 1.0;
}

.prompt > div {
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    border-bottom: 3px solid #ddd;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95%;
    overflow: hidden;
    overflow-y: auto;
}

.prompt.iframe > div {
    padding: 20px;
    min-width: 480px;
    width: 50%;
}

.prompt.iframe > div > iframe {
    width: 100%;
}

.prompt > div > p {
    margin-bottom: 20px;
}

.prompt > div > button {
    width: 100%;
}

.prompt.choice > div > button {
    width: 49%;
}

.prompt.choice > div > button:last-of-type {
    float: right;
}

.prompt > div > i:last-child {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 14pt;
}

.prompt > div > i:last-child:hover {
    cursor: pointer;
}

.prompt img {
    max-width: 100%;
}

@media only screen and (max-width: 640px) {
    .prompt > div,
    .prompt.iframe > div {
        padding: 40px 20px;
        width: 90%;
        min-width: auto;
    }
}