/* Push-Subscription Guide */

div.push-guide {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 100;
}

div.push-guide p{
    margin-bottom: 0 !important;
}

div.push-guide > i.fa-times {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #ccc;
}

div.push-guide > div {
    position: absolute;
    background-color: #fff;
    padding: 25px;
    font-size: 10pt;
    width: 100%;
}

div.push-guide > div > strong {
    display: block;
    margin-bottom: 4px;
    white-space: nowrap;
}

div.push-guide > div > p {
    line-height: 12pt;
}

div.push-guide > div > a {
    float: right;
}

div.push-guide > div > hr {
    height: 1px;
    background-color: #efefef;
    margin: 8px 0;
}

div.push-guide > div > img {
    width: 32px;
    vertical-align: middle;
}

div.push-guide > div > img + p {
    padding-left: 8px;
    width: calc(100% - 32px);
    vertical-align: middle;
    display: inline-block;
}

div.push-guide.chrome > div,
div.push-guide.firefox > div {
    background-repeat: no-repeat;
    background-image: url('/img/push-guide-arrow-left-large.png');
}

div.push-guide.chrome > div {
    padding-left: 580px;
    background-position: 290px 130px;
    background-size: 260px;
    padding-right: 40%;
}

div.push-guide.firefox > div {
    padding-left: 780px;
    background-position: 420px 120px;
    background-size: 320px;
    padding-right: 30%;
}

div.push-guide.chrome.mac > div,
div.push-guide.firefox.mac > div {
    background-image: url('/img/push-guide-arrow-left.png');
    background-size: auto;
}

div.push-guide.chrome.mac > div {
    background-position: 400px 100px;
}

div.push-guide.firefox.mac > div {
    background-position: 600px 100px;
}

@media only screen and (max-width: 1680px) {
    div.push-guide.chrome > div {
        padding-right: 30%;
    }
}

@media only screen and (max-width: 1430px) {
    div.push-guide.chrome > div {
        padding-right: 20%;
    }
}

@media only screen and (max-width: 1240px) {
    div.push-guide.chrome > div {
        padding-right: 10%;
    }
}

@media only screen and (max-width: 1120px) {
    div.push-guide.chrome > div {
        padding-right: 25px;
    }
}

@media only screen and (max-width: 1760px) {
    div.push-guide.firefox > div {
        padding-right: 20%;
    }
}

@media only screen and (max-width: 1540px) {
    div.push-guide.firefox > div {
        padding-right: 10%;
    }
}

@media only screen and (max-width: 1370px) {
    div.push-guide.firefox > div {
        padding-right: 25px;
    }
}

@media only screen and (max-width: 1090px) {
    div.push-guide.firefox {
        display: none;
    }
}

div.push-guide.vivaldi > div {
    padding-right: 580px;
}

div.push-guide.edge > div {
    bottom: 54px;
    left: 50%;
    transform: translateX(calc(-50% + 8px));
    width: 960px;
    max-width: calc(100% - 26px);
    border: solid 2px #0078d7;
}

@media only screen and (max-width: 770px) {
    div.push-guide.edge > div {
        bottom: 60px;
    }
}

@media only screen and (max-width: 585px) {
    div.push-guide.edge > div {
        bottom: 78px;
    }
}

@media only screen and (max-width: 552px) {
    div.push-guide.edge > div {
        bottom: 128px;
    }
}

@media only screen and (max-width: 527px) {
    div.push-guide.edge > div {
        bottom: 134px;
    }
}

@media only screen and (max-width: 870px) {
    div.push-guide:not(.edge) {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    div.push-guide {
        display: none;
    }
}

div.push-guide.new-edge > div {
    background-repeat: no-repeat;
    background-image: url('/img/push-guide-arrow-right-large.png');
}

div.push-guide.new-edge > div {
    padding-left: 580px;
    padding-right: 40%;
    background-position: 1300px 130px;
    background-size: 260px;
}

@media only screen and (max-width: 1540px) {
    div.push-guide.new-edge > div {
        padding-right: 40%;
        padding-left: 25px;
        background-image: none;
    }
}

/*
div.push-guide.other>div
    {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    }
*/