
main form {
    margin-top: 40px;
    padding: 0 10px;
}

main form > p {
    margin-left: 0;
    margin-right: 0;
}

main form > p > label {
    display: block;
}

main form > p > input {
    width: 100%;
}

main form > input[type="submit"] {
    float: right;
    width: 150px;
    margin-top: 0;
}

main form span.msg {
    margin: 16px 0;
}

/* Account deletion button */

div#dashboard-content > p > button {
    margin-top: 60px;
    width: 100%;
}

/* custom prompt */

div.prompt h4 {
    text-transform: none;
    margin-bottom: 20px;
}

div.prompt button + button {
    background-color: #c1c1c1;
    border-bottom: solid 2px #4b4b4b;
}

div.prompt button + button:hover {
    background-color: #b50000;
    border-bottom: solid 2px #420000;
}
