
main ul.menu {
    border-radius: 6px;
    background-color: var(--light_grey2);
    margin: 0 0 12px 0;
    font-size: 0;
}

main ul.menu > li {
    display: inline-block;
    font-size: 13pt;
    border-left: solid 1px #ddd;
    text-align: center;
    vertical-align: bottom;
    width: 33.33%;
}

main ul.menu > li > a {
    padding: 12px 4px;
    display: block;
}

main ul.menu > li > a:hover {
    text-decoration: none;
}

main ul.menu > li:first-child {
    border-left: none;
}

main ul.menu > li.selected,
main ul.menu > li:hover {
    cursor: pointer;
    background-color: #fff;
    border: solid 2px #f2f2f2;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
}

main ul.menu > li.selected + li {
    border-left-color: #f2f2f2;
}

main ul.menu > li.selected > a,
main ul.menu > li:hover > a {
    padding-left: 5px;
}

#dashboard-subcontent > a:last-child {
    margin-top: 30px;
    width: 100%;
}

#dashboard-subcontent > p.empty > i.fa-heart {
    font-weight: normal;
    /* color: #ffb71e; */
}

@media (max-width: 780px) {
    #dashboard-content > div.menu-favourites > ul > li:nth-child(1) > a,
    #dashboard-content > div.menu-favourites > ul > li:nth-child(2) > a,
    #dashboard-content > div.menu-favourites > ul > li:nth-child(3) > a {
        font-size: 11px;
    }

    i.fas.fa-heart.active::before {
        position: absolute;
        margin-left: 100px;
    }

    /*
    i.fas.fa-heart::before {
         position: absolute;
         margin-left: 100px;
     }
     */
}

.menu-favourites .nav-link{
    color: var(--primary_color);
}

.menu-favourites .nav-pills .nav-link{
    border-radius: 50px;
    background-color: #fff;
}

.menu-favourites .nav-link:not(.active):hover{
    background-color: rgba(0, 153, 204, 0.5);
}