form,
div.usps{
    width: 100% !important;
}

h1{
    margin: 0 !important;
}

main {
    padding: 0;
}

main div.usps {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 5% 25px !important;
    font-size: 13pt;
    background-color: var(--light_grey2);
    border-radius: 6px;
    margin-left: 0 !important;
    margin-top: unset !important;
}

main div.usps ul{
    list-style-type: none;
    padding-left: 0;
}

#header-content-container.basic h1 {
    color: #434343;
}

@media (max-width: 992px){
    .only-desktop {
        display: none !important;
    }
}