
main {
    font-size: 0;
}

main form > p {
    margin: 12px 0;
}

main form input[type="text"],
main form input[type="password"],
main form input[type="submit"],
main div.login-3rdparty > a.button {
    width: 100%;
}

main div.login-3rdparty > a.button + a.button {
    margin-top: 10px;
}

/* AGB */
main form > p > input[type="checkbox"] + label,
main form > p > input[type="checkbox"] + label + a {
    font-size: 13pt;
    margin-right: 4px;
    vertical-align: middle;
}

main > div.column-left {
    width: 50%;
    position: relative;
    display: inline-block;
    padding-right: 10%;
}

main > div.column-left > form > p.login {
    margin-top: 20px;
    font-size: 13pt;
}

main > div.column-right {
    width: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 2.5%;
    font-size: 13pt;
}

@media only screen and (max-width: 690px) {
    main > div.column-left,
    main > div.column-right {
        width: 100%;
        padding: 0 2%;
    }

    main > div.column-left {
        margin-bottom: 30px;
    }
}

main div.usps li {
    padding-left: 36px;
    font-size: 12pt;
    margin-bottom: 20px;
    position: relative;
}

main div.usps li:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f058";
    color: var(--primary_color);
    display: inline-block;
    position: absolute;
    left: -4px;
    font-size: 21pt;
    vertical-align: middle;
}

@media only screen and (max-width: 690px) {
    main div.usps {
        padding: 4%;
        margin: 0;
    }

    main {
        padding-top: 30px;
    }

    main h1 {
        margin-bottom: 20px;
    }

    main h3 {
        display: none;
    }

    main p.legal-sub-text {
        font-size: 8pt;
        line-height: 10pt;
    }
}
