
div#dashboard-content ul > li.unread {
    font-weight: bold;
}

div#dashboard-content ul > li {
    display: flex;
    line-height: 28pt;
}

div#dashboard-content ul > li > div {
    color: inherit;
}

div#dashboard-content ul > li > div.status {
    color: var(--primary_color);
    width: 60px;
    text-align: center;
    flex: none;
}

div#dashboard-content ul > li:not(.unread) > div.status {
    font-size: 0;
}

div#dashboard-content ul > li > div.subject {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: auto;
    white-space: nowrap;
    max-width: 466px;
}

div#dashboard-content ul > li > div.date {
    width: 120px;
    text-align: right;
    flex: none;
}

div#dashboard-content ul > li > div.actions {
    width: 80px;
    text-align: center;
    flex: none;
}

div#dashboard-content ul > li > div.actions > i:hover {
    cursor: pointer;
    color: var(--secondary_color);
}

@media only screen and (max-width: 640px) {
    div#dashboard-content ul > li > div.status {
        width: 40px;
    }

    div#dashboard-content ul > li > div.date {
        width: 80px;
    }

    div#dashboard-content ul > li > div.actions {
        width: 60px;
    }
}

div.prompt.iframe iframe {
    width: 600px;
    max-width: 100%;
}
